/*----------BASIC PAGE STYLES AND STRUCTURE-----------------*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #676767;
  background-color: #ffffff;
}

.dashboard{
  width: 100%;
  background-color: #f8f8f8;
  margin: 0 auto;
  height: 100%;
}

header {
  margin-left: 20px;
  margin-top:  20px;
  letter-spacing: 2px;
}
p {
  line-height: 1.5em;
  text-align: left;
  padding: 0;
}

a {
  text-decoration: none;
  color: #7377bf;
}

ul  {
  list-style-type: none;
  display: flex;
}

h1 {
  font-weight: 400;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.25em;
}

h2 {
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0;
}

/*-------------IMAGE  STYLES ---------*/

.avatar {
  float: left;
  margin-left: 25px;
  margin-right: 20px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  }


/*-------------MODAL POP-UP STYLES ---------*/

/* #modal-content {
  display:inline-block;
  font-weight: 300;
  background-color: #fff;
  border-radius: 6px;
  color: #676767;
  margin: 30px 30px;
  padding:  5px 20px;
  height: 200px;
  width: 400px;
  border: 1px solid #c8c8c8;
} */

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-message {
    display:block;
    position: fixed;
    left: 20%;
    background-color: #fff;
    height: 500px;
    width: 700px;
    padding: 20px;
    margin: 100px;
    font-weight: 400;
    color: #676767;
    border-radius: 6px;
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 5px;
}

.close2{
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 200px;
  margin-top: 95px;
}

.close:hover,
.close:focus,
.close2:hover,
.close:focus {
    color: #FF0072;
    text-decoration: none;
    cursor: pointer;
}

/*-------------LAYOUT  STYLES ---------*/
#cards {
  border: 1px solid #c8c8c8;
  border-radius: 6px;
  height: 100%;
  background-color: #fff;
  margin: 15px;
  padding: 35px 0;
  width: 400px;
}

#cards:hover {
  background-color: #f8f8f8;
  border: 1px solid  #FF0072;
   transition:0.5s all ease;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
}

#name {
  font-weight: 700;
  font-size: 1em;
  padding-bottom: 10px;
}

#email {
  font-size: .85em;
  font-weight: 400;
  padding-bottom: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#directory-container {
  width: 100%;
  padding: 0 20px 20px;
}

.card-content {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-top: 15px;
}

.card-content:hover {
  color: #FF0072;
}

/*-------------MEDIA QUERIES---------*/

@media (min-width: 1024px){
.container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.container > * {
    flex: 1 100%;
  }


#grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#cards {
    flex: 1 auto;
    margin: 20px;
  }

#city{
    font-weight: 300;
    font-size: .85em;
  }
}
